body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.incorrect, .error {
  background-color: #fad4d8;
  border: 2px solid #f9c4ca;
  color: #8f1b64;
  padding: 7px;
  border-radius: 10px;
}

.correct {
  background-color: #74c69d;
  border: 2px solid #52b788;
  color: #1b4332;
  padding: 7px;
  margin-top: 10px;
  border-radius: 10px;
}